@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #c0c0c0;
  --scrollbar-bg: #e0e0e0;
  --scrollbar-thumb: #c0c0c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #c0c0c0;
    --foreground: #ededed;
    --scrollbar-bg: #2a2a2a;
    --scrollbar-thumb: #505050; 
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-bg); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-bg); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input:-webkit-autofill {
  background-color: transparent !important;
  box-shadow: 0 0 0 1000px #F5F5F5 inset !important;
  -webkit-text-fill-color: text-secondary !important;
  border: none !important;
  outline: none !important;
}

body {
  @apply text-secondary;
}

